.form__item {
  padding: 0 0 9px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  outline: none;
  transition: border-color 0.5s linear;
}

.form__item:focus {
  border-color: #000000;
}
