.form__fieldset {
  margin: 0;
  padding: 0 0 45px;
  border: none;
  display: flex;
  flex-direction: column;
}

@media (min-width: /*landscape-phone*/615px) {
  .form__fieldset {
    padding-bottom: 48px;
  }
}
