.add-button {
  width: 282px;
  height: 50px;
  border-radius: 2px;
  background: url(../../image/add-button.svg) no-repeat;
  border: 2px solid #FFFFFF;
  background-position: center;
  padding: 0;
  transition: opacity 0.5s linear;
  cursor: pointer;
}

.add-button:hover {
  opacity: 0.5;
}

@media (min-width: /*landscape-phone*/615px) {
  .add-button {
    align-self: center;
    width: 150px;
    height: 50px;
    margin-left: auto;
  }
}
