.profile__bio {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
}

@media (min-width: /*landscape-phone*/615px) {
  .profile__bio {
    font-size: 18px;
    line-height: 22px;
    text-align: left;
  }
}
