.header {
  padding: 28px 0 31px 27px;
  border-bottom: 1px solid;
  border-color: rgba(84, 84, 84, 0.7);
  margin-bottom: 42px;
}

@media (min-width: /*landscape-tablet*/914px) {
  .header {
    max-width: 880px;
    margin: 0 auto;
    margin-bottom: 40px;
    padding: 45px 0 40px 0;
  }
}
