.profile__name {
  margin: 0;
  padding-left: 28px;
  font-weight: 500;
  font-size: 27px;
  line-height: 33px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (min-width: /*landscape-phone*/615px) {
  .profile__name {
    font-size: 42px;
    line-height: 48px;
    padding-left: 0;
  }
}
