.profile__name {
  margin: 0;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 27px;
  line-height: 33px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (min-width: /*landscape-phone*/615px) {
  .profile__name {
    font-size: 42px;
    line-height: 48px;
    width: 235px;
  }
}

@media (min-width: /*landscape-tablet*/914px) {
  .profile__name {
    width: 296px;
    text-align: left;
  }
}
