.profile__info {
  padding-top: 22.25px;
  padding-bottom: 36px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  row-gap: 14px;
}

@media (min-width: /*landscape-phone*/615px) {
  .profile__info {
    justify-content: flex-start;
    padding-left: 30px;
    max-width: 269px;
  }
}

@media (min-width: /*landscape-tablet*/914px) {
  .profile__info {
    max-width: 533px;
  }
}
