.place {
  background-color: #FFFFFF;
  width: 282px;
  min-height: 361px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  position: relative;
  cursor: pointer;
}
