.footer {
  margin: 0 auto;
  padding: 48px 0 36px;
  max-width: 282px;
}

@media (min-width: /*landscape-phone*/615px) {
  .footer {
    max-width: 581px;
    padding: 67px 0 60px;
  }
}

@media (min-width: /*landscape-tablet*/914px) {
  .footer {
    max-width: 880px;
  }
}
